



/* #region Track Card */
div.track-card
{
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between;

    margin: 1rem 0px; 
}

div.track-card > div 
{
    flex: 1 1 100%; 
}

div.track-card > div.cover 
{
    min-width: 3rem; 
    min-height: 3rem;
    max-width: 3rem; 
    max-height: 3rem;

}


div.track-card > div.info 
{
    max-width: 100%;
    margin: 0px 1rem; 
}

div.track-card > div.info > a
{
    display: flex; 
    align-items: center; 
    justify-content: flex-start;

    min-width: 2rem;
    max-width: min-content;
}
div.track-card > div.info > a > p
{
    max-width: min-content; 
    color: var(--tint);
}



div.track-card > div.metadata 
{
    min-width: 2rem;
    max-width: min-content;
}
/* #endregion */

/* #region Album Card */
a.album-card
{
    display: flex;
    align-items: center; 
    justify-content: space-between;

    height: 5rem;
    color: var(--foreground); 
}

a.album-card > div 
{
    flex: 1 1 100%; 
}

a.album-card > div.cover 
{
    min-width: 5rem; 
    min-height: 5rem;
    max-width: 5rem; 
    max-height: 5rem;
}

a.album-card > div.content 
{
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start;

    margin: 0px 1rem; 

    height: 100%;
    max-width:  100%;
}

a.album-card > div.content > p.artists 
{
    margin: 0.25rem 0px; 
    color: var(--tint); 
}

a.album-card > div.content > p.name 
{
    max-height: 3rem;
    overflow: hidden;
}

/* #endregion */

/* #region Artist Card */
.artist-card 
{
    display: flex; 
    align-items: center; 
    justify-content: space-between;

    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    /* border: 1px solid var(--shade); */

    color: var(--foreground); 

}

.artist-card > .pfp 
{
    background-color: var(--shade);
    min-width: 4rem; 
    min-height: 4rem;
    max-width: 4rem; 
    max-height: 4rem;


    overflow: hidden;
    border-radius: 100%;

}

.artist-card > .pfp > img
{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.artist-card > div.info 
{
    margin: 0px 1rem; 
    flex: 1 1 100%;
}

.artist-card > div.info  > p.small 
{
    color: var(--gray); 
}
/* #endregion */

