





/* #region Global */
.sheet > .viewport
{
    height: 100%; 
    width: 100%;
}

#root div.scrollview.sheet > div.viewport > div.content 
{
    padding: 0px 4vw; 
}
/* #endregion */

/* #region NavBar */
nav 
{
    display: flex; 
    align-items: center; 
    justify-content: space-between;

    margin: 0.75rem 4rem; 
}

nav > div.navigation, div.navigation > div.directions
{
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
}

div.directions > div.icon 
{
    margin: 0px 0.25rem; 
}

#logo 
{
    margin-right: 4vw;
    fill: var(--foreground);
}

nav > div.links
{
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
}

nav .links > .icon 
{
    margin-left: 1rem;
    fill: var(--foreground)
}
/* #endregion */


/* #region Album Page Showcase */
#albumpage #showcase 
{
    display: flex; 
    align-items: center; 
    justify-content: space-between;

    width: 100%; 
    ;
}

#albumpage #showcase > div 
{
    flex: 1 1 100%;
    max-width: 100%;

    height: 100%;
}

#albumpage #showcase > div.cover 
{
    padding: 2rem; 
}
/* #endregion */









