

// ** DESIGN SYSTEM
// * Colors 
$color-foreground: #0B0B0A;
$color-accent: #555770;
$color-tint: #8F90A6;
$color-gray: #C7C9D9;
$color-shade: #EBEBF0;
$color-highlight: #F2F2F5;
$color-background: #FAFAFC;

/* $color-foreground: #FAFAFC; 
$color-accent: #F2F2F5; 
$color-tint: #EBEBF0; 
$color-gray: #C7C9D9; 
$color-shade: #8F90A6; 
$color-highlight: #555770; 
$color-background: #0B0B0A;  */

$color-success: #39D98A;
$color-info: #5B8DEF;
$color-warning: #FDAC42;
$color-error: #FF5C5C;

$color-brand: rgb(38, 82, 143);

// * Typeface
$typeface-display: 
    "Inter",
    "Be Vietnam Pro", 
    "Rubik",
    sans-serif
;

$typeface-body:
    "Inter",
    "Be Vietnam Pro", 
    "Rubik", 
    sans-serif
;


// * Weights
$weight-regular: 300; 
$weight-bold: 500; 

